@media only screen and (max-width: 1200px) {

	.hero-text-box {
		width: 100%;
		padding: 0 2%;
	}

	.row {
		padding: 0 3%;
	}

}

@media only screen and (max-width: 1023px) {

	body {
		font-size: 18px;
	}

	section {
		padding: 60px 0;
	}

	.steps-box {
		margin-top: 10px;
	}

	.steps-box:last-child {
		margin-top: 10px;
	}

	.steps-box:first-child {
		margin-top: 10px;
	}

	.works-steps {
		margin-bottom: 40px;
	}

	.works-step-number {
		height: 50px;
		width: 50px;
	}

	.works-step:last-of-type {
		margin-bottom: 60px;
	}

	.app-screen  {
		width: 50%;
	}

	.icon-small {
		width: 17px;
		margin-right: 5px;
	}
	
	.city-feature {
		font-size: 90%;
	}

	.plan-box {
		width: 100%;
		margin-left: 0%;
	}

	.content-form {
		width: 80%;
	}

}


@media only screen and (max-width: 900px) {

	.steps-box:first-child {
		margin-top: 10px;
	}

	.works-step-number {
		height: 45px;
		width: 45px;
	}

	.btn-app img {
		height: 50px;
		width: auto;
		margin: 10px 10px 0 0;
	}

	.btn-app img:last-child {
		margin-right: 5px;
	}

	.section-plans .col {
		margin-top: 10px;
		width: 49.5%;
	}

	.footer-nav-box {
		width: 100%;
		text-align: center;
	}

	.social-links-box {
		width: 100%;
		padding-top: 25px;
		text-align: center;
	}

	.contact-form {
		width: 70%;
	}

	footer {
		padding: 20px;
	}

	.footer-nav,
	.social-links {
		float: none;
	}

	.footer-nav li {
		padding-top: 15px;
	}

	.social-links li {
		padding-top: 15px;
	}

}

@media only screen and (max-width: 767px) {

	body {
		font-size: 16px;
	}

	section {
		padding: 30px 0;
	}

	.row,
	.hero-text-box {
		padding: 0 4%;
	}

	.main-nav a{
		width: 100%;
	}

	.section-features .row .col {
		width: 49.5%;
	}

	h1 {
		font-size: 180%;
	}

	h2 {
		font-size: 150%;
	}

	.steps-box:first-child {
		text-align: center;
		width: 40%;
	}

	.steps-box:last-child {
		width: 59%;
	}

	.btn-app img {
		height: 40px;
		width: auto;
		margin: 10px 0px 0 0;
	}

	.section-cities .cities .col {
		width: 49.7%;
	}

	.works-steps {
		margin-bottom: 20px;
	}

	.works-step-number {
		height: 40px;
		width: 40px;
		margin-right: 15px;
	}

	.works-step:last-of-type {
		margin-bottom: 20px;
	}

	.section-testimonials .col {
		width: 100%;
	}

	.section-cities .cities .col {
		width: 49.5%;
	}

}


@media only screen and (max-width: 580px) { 

	.steps-box:first-child {
		width: 100%;
		padding-right: 0;
	}

	.app-screen  {
		width: 40%;
	}

	.steps-box:last-child {
		width: 100%;
		margin-top: 20px;
	}

	.works-step-description {
		width: 85%;
		text-align: justify;
	}

	.btn-app img {
		height: 43px;
	}

	.section-cities .cities .col {
		width: 100%;
		margin-top: 15px;
	}

	.contact-form {
		width: 100%;
	}

}


@media only screen and (max-width: 480px) {

	section {
		padding: 25px 0;
	}

	.hero-text .btn  {
		margin-top: 10px;
	}

	.section-features .row .col {
		width: 100%;
	}

	.meals-showcase li  {
		width: 50%;
	}

	.section-plans .col {
		width: 100%;
	}

	.works-step-description {
		width: 80%;
	}	

	.contact-form {
		width: 100%;
	}

}


@media only screen and (max-width: 480px) {

	.works-step-number {
		height: 35px;
		width: 35px;
		margin-right: 9px;
		padding: 3px 5px 3px 4px;
	}

	.works-step-description {
		width: 75%;
	}	

}